
.homePage{
	font-size:0.4rem;
	.homePageTop{
		width:100%;
		position:fixed;
		left:0;
		top:0;
		z-index:100;
	}
	.mainHome{
		margin-top:1.4rem;
		margin-bottom:1.733333rem;
		.data_list{
			height:4.266667rem;
			width:100%;
			.data_ul_list{
				height:2.16rem;
				width:100%;
				display:flex;
				flex-direction:row;
				margin-bottom:0;
				li{
					flex:1;
					list-style:none;
					position:relative;
					span{
						display:block;
					}
					span:nth-child(1){

					}
					span:nth-child(2){
						height:0.453333rem;
						line-height:0.453333rem;
						text-align:center;
						width:100%;
						position:absolute;
						left:0;
						bottom:0.166667rem;
					}
					.confont{
						width:100%;
						height:1.333333rem;
						.lz_icon{
							position:absolute;
							left:50%;
							top:50%;
							transform:translate(-50%,-50%);
							font-size:0.78rem;
						}
					}
				}
			}
		}
		.siteBar{
			height:0.32rem;
			width:100%;
			background:#F0F0F0;
		}
		.xiangqin{
			>img{
				width:100%;
			}
			.swiper-container{
				width:100%;
				height:4.893333rem;
				overflow:hidden;
				margin-bottom:0.4rem;
				.swiper-slide{
					width:3.106667rem;
					height:3.106667rem;
					.slideImg{
						width:3.106667rem;
						height:3.106667rem;
						margin:0.333333rem 0 0.266667rem 0;
					}
					.series_title{
						height:0.826667rem;
					}
					p{
						font-size:0.32rem;
					}
				}
			}
		}
	}
}

