ul li{
	list-style:none;
}

.order{
	font-size:0.463333rem;
	.brand{
		padding:0 0.666667rem;
		margin-bottom:0.2rem;
		font-size:0.44rem;
	}
	.order_top{
		height:1.266667rem;
		line-height:1.266667rem;
		background:black;
		color:#fff;
		text-align:center;
		position:relative;
		.order-icon{
			display:block;
			font-size:0.6rem;
			position:absolute;
			left:0.4rem;
			top:50%;
			transform:translateY(-50%);
		}
		.tuikuan{
			display:block;
			position:absolute;
			right:0.4rem;
			top:50%;
			transform:translateY(-50%);
		}
	}
	.order_title{
		display:flex;
		flex-direction:row;
		margin-bottom:0.4rem;
		li{
			flex:1;
			height:1rem;
			line-height:1rem;
			text-align:center;
		}
	}
	.orderList{
		font-size:0.34rem;
		border:1px solid #ccc;
		.orderProduct{
			width:100%;
			height:3.0rem;
			padding:0 0.666667rem;
			margin-bottom:0.4rem;
			background:#eee;
			div{
				float:left;
			}
			.productImg{
				width:3.0rem;
				height:3.0rem;
				img{
					height:3.0rem;
				}
			}
			.productList{
				width:60%;
				height:3.0rem;
				padding-left:0.266667rem;
				font-size:0.34rem !important;
				p{
					margin-bottom:0.266667rem;
				}
				p:nth-child(1){
					margin:0;
				}
				.Product_title{
					font-size:0.34rem !important;
					height:1rem;
					overflow:hidden;
				}
				.productsize{
					>span{
						display:inline-block;
						vertical-align:middle;
						margin-right:0.533333rem;
					}
					>span:nth-child(1){
						margin-right:0.266667rem;
					}
				}
				.p_price{
					span{
						display:block;
						float:left;
						margin-right:0.666667rem;
					}

					span:nth-child(3){
						width:1.2rem;
						height:0.6rem;
						line-height:0.6rem;
						background:#333;
						color:#fff;
						border-radius:0.08rem;
						text-align:center;
					}
					
				}
			}
		}
	}
}